<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<sitecore>
		<settings>
			<setting name="SVTM.ConfigurationDatabase" value="master" />
			<setting name="SVTM.SettingsItemPath" value="/sitecore/system/Modules/StandardValuesTokenManager/Configuration/Settings" />
			<setting name="SVTM.TokensFolder" value="/sitecore/system/Modules/StandardValuesTokenManager/Configuration/Settings" />
		</settings>
		<standardValuesTokenManager>
			<tokenParsers>
				<tokenParser name="ItemPathTokenParser" type="StandardValuesTokenManager.Parsers.ItemPathTokenParser, StandardValuesTokenManager" />
				<tokenParser name="CodeTokenParser" type="StandardValuesTokenManager.Parsers.CodeTokenParser, StandardValuesTokenManager" />
			</tokenParsers>
			<configurationProvider type="StandardValuesTokenManager.Configuration.XmlConfigurationProvider, StandardValuesTokenManager"></configurationProvider>
		</standardValuesTokenManager>
	</sitecore>
</configuration>